.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

*.rcache
*_files
*_cache

libs
_book/*
_main.*
*.rds

**/*.md
# ignore all md files except:
!README.md
**/*.html 
# ignore all html files except:
!ga_script.html
!**/mathjax_header.html
**/*.pdf
**/*.bib